.mainfooter {
  text-align: center;
  animation: fadeInFromNone 2s ease-out;

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: darken($brand-primary, 15)
    }
  }

  .social {
    display: flex;
    justify-content: center;

    li {
      margin: 0 $mobile-unit-xxsmall;

      @media screen and (min-width: $tablet-device) {
        margin: 0 $tablet-unit-xxsmall;
      }

      @media screen and (min-width: $laptop-device) {
        margin: 0 $laptop-unit-xxsmall;
      }

      @media screen and (min-width: $desktop-device) {
        margin: 0 $desktop-unit-xxsmall;
      }
    }
  }
}